.agenda > .content > .secret
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	vertical-align: middle;
	align-items: center;
	flex-wrap: wrap;
	flex-grow: 1;
}

.agenda > .content > .defeat:before,
.agenda > .content > .secret:before
{
	display: inline-block;
	align-self: flex-start;
	width: 100%;

	text-align: center;
	font-size: var(--font-size-normal);
	line-height: var(--font-size-huge);

	padding-top: var(--space-tiny);
	background-color: var(--tint-green);
	border-bottom: var(--border-thin) solid var(--border-light);
}

.agenda > .content > .explorer:before { content: 'Exploration'; }
.agenda > .content > .captain:before { content: 'Leadership'; }
.agenda > .content > .hoarder:before { content: 'Preparation'; }
.agenda > .content > .dramaqueen:before { content: 'Authority'; }
.agenda > .content > .warlord:before { content: 'Domination'; }
.agenda > .content > .strategist:before { content: 'Supremacy'; }

.agenda > .content > .defeat:before { content: 'Starvation'; }
.agenda > .content > .defeat:before { background-color: var(--tint-red); }

.agenda > .content > .secret > .text,
.agenda > .content > .defeat > .text
{
	text-align: center;
	line-height: var(--font-size-large);
	padding: var(--space-thick);

	margin-block-start: 0;
	margin-block-end: 0;
}
