/* Card backside */
.card.backside
{
	position: relative;
	background-color: white;
	background-image: linear-gradient(180deg, rgba(256, 256, 256, 1.0) 0%, rgba(128, 128, 128, 0.6) 100%);
}

div.card.backside:before
{
	position: absolute;
	display: block;
	content: '';
	top: 32mm;
	left: 0px;
	width: 100%;
	height: 100%;

	background-size: 350px;
	background-position: center;
	background-repeat: no-repeat;
	opacity: 0.33;
}

.card.backside.action { background-color: var(--color-drama); }
.card.backside.action:before { background-image: url('../../art/icons/drama.svg'); }

.card.backside.event  { background-color: var(--color-event); }
.card.backside.event:before
{
	background-image: url('../../art/icons/event.svg');
	background-size: 375px !important;
}

.card.backside.agenda { background-color: var(--color-agenda); }
.card.backside.agenda:before
{
	background-image: url('../../art/icons/ending-victory.svg');
	background-size: 425px !important;
}

.card.backside.player { background-color: var(--color-player); }
.card.backside.player:before { background-image: url('../../art/icons/player.svg'); }

.card.backside.season { background-color: var(--color-season); }
.card.backside.season:before
{
	background-image: url('../../art/icons/season.svg');
	background-size: 275px !important;
}

.card.backside.region { background-color: var(--color-region); }
.card.backside.region:before { background-image: url('../../art/icons/region.svg'); }

.card.backside.stranded:before { background-image: url('../../art/icons/stranded.svg'); }
.card.backside.credits:before { background-image: url('../../art/icons/credits.svg'); }
.card.backside.review:before
{
	background-image: url('../../art/icons/email.svg');
	background-size: 475px !important;
	top: 35mm;
}

div.card.backside > span.card_title
{
	border: 0;
	padding: 0;
	margin: 0;
	margin-top: 50px;
	font-size: 125px !important;
	line-height: 575px !important;
	text-transform: uppercase;
	text-align: center;
	background: transparent;
	opacity: 0.50;
}

div.card.terms_backside > span.card_title
{
	font-size: 125px !important;
	line-height: 600px !important;
}
