/* Upgrade side */
.drama > .header > .power,
.drama > .header > .power-down
{
	font-size: var(--font-size-large);
	font-weight: bold;
	vertical-align: bottom;
	text-align: right;
	flex-grow: 1;
	margin-right: var(--space-tiny);
	padding-top: var(--space-normal);
}
.drama > .header > .power-down
{
	padding-top: var(--space-tiny);
}

.drama > .header > ul > li
{
	border-color: var(--border-dark);
	background-color: var(--tint-green) !important;
}
.drama > .header > .power-down + ul > li
{
	background-color: var(--tint-red) !important;
}

.drama > .content > .downgrade:before,
.drama > .content > .upgrade:before
{
	content: 'Upgrade';
	display: block;
	width: 100%;

	text-align: center;
	font-size: var(--font-size-normal);
	line-height: var(--font-size-huge);

	padding-top: var(--space-tiny);
	background-color: var(--tint-green);
	border-bottom: var(--border-thin) solid var(--border-light);
}
.drama > .content > .downgrade:before
{
	content: 'Downgrade';
	background-color: var(--tint-red);
}

.drama > .content > .downgrade,
.drama > .content > .upgrade
{
	text-align: center;
	flex-basis: 45%;
}

.drama > .content > .downgrade > .flavor,
.drama > .content > .upgrade > .flavor
{
	display: none;
	font-style: italic;
	font-weight: normal;
	font-family: var(--font-flavor);
	font-size: var(--font-size-small);
}
.drama > .content > .upgrade:after { content: "( play as event reward )"; display: inline-block; }
.drama > .content > .downgrade:after { content: "( play as an action )"; display: inline-block; }

/* Action side */
.drama > .content > .action:before
{
	content: 'Action';
	display: block;
	width: 100%;

	text-align: center;
	font-size: var(--font-size-normal);
	line-height: var(--font-size-huge);

	padding-top: var(--space-tiny);
	background-color: var(--tint-drama);
	border-bottom: var(--border-thin) solid var(--border-light);
}

.drama > .content > .action
{
	flex-grow: 1;
	flex-basis: 55%;
	text-align: center;
}

.drama > .content > .action > .flavor:before { content: '~ '; opacity: 0.50; }
.drama > .content > .action > .flavor:after { content: ' ~'; opacity: 0.50; }
.drama > .content > .action > .flavor
{
	font-style: italic;
	font-weight: normal;
	font-family: var(--font-flavor);
	font-size: var(--font-size-small);
}
