/* Event description and difficulty. */
.event > .content > .description > .difficulty
{
	display: inline-block;
	width: 100%;

	line-height: calc(1.5 * var(--font-size-huge));
	text-align: center;
	background-color: var(--tint-strong);
	border-bottom: var(--border-thin) solid var(--border-dark);
}

.event > .content > .description > .difficulty:before     { content: 'Difficulty: '; }
.event > .content > .description > .difficulty:after      { content: ' <Normal>'; }
.event > .content > .description > .difficulty.easy:after { content: ' <Easy>'; }
.event > .content > .description > .difficulty.hard:after { content: ' <Hard>'; }

.event > .content > .description > .difficulty.easy { background-color: var(--tint-green); }
.event > .content > .description > .difficulty.normal { background-color: var(--tint-orange); }
.event > .content > .description > .difficulty.hard { background-color: var(--tint-red); }

.event > .content > .description > .text
{
	text-align: center;
	line-height: var(--font-size-large);
	padding: var(--space-huge);

	margin-block-start: 0;
	margin-block-end: 0;
}

.event > .content > .description
{
	flex-grow: 1;
}

/* Event difficulty modifier. */
.event > .content > .season_modifier
{
	display: flex;
	flex-grow: 0;
	flex-shrink: 0;
	flex-direction: row;
}

.event > .content > .season_modifier > i
{
	display: inline-block;
	flex-grow: 0;
	flex-shrink: 0;

	width: calc(2.5 * var(--font-size-huge));
	height: calc(2.5 * var(--font-size-huge));

	font-size: calc(1.5 * var(--font-size-huge));
	line-height: calc(2.5 * var(--font-size-huge));
	border-right: var(--border-thin) solid var(--border-light);
	text-align: center;
}
.event > .content > .season_modifier > div
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex-basis: 100%;
	align-items: stretch;
	align-content: stretch;
}
.event > .content > .season_modifier > div > ul
{
	display: flex;

	flex-direction: row;
	justify-content: space-evenly;
	flex-basis: 100%;

	width: var(--font-size-huge);
	height: var(--font-size-huge);
	line-height: var(--font-size-huge);
}
.event > .content > .season_modifier > div > ul:last-child
{
	border-top: var(--border-thin) solid var(--border-light);
}
.event > .content > .season_modifier > div > ul > li
{
	width: 25%;
	padding-top: var(--space-small);
	font-size: var(--font-size-normal);
	font-weight: bold;
	text-align: center;
}
.event > .content > .season_modifier > div > ul > li > i
{
	font-size: var(--font-size-large);
	line-height: var(--font-size-huge);
}

.event > .content > .season_modifier > div > ul > li > i.--season-spring { font-size: 3.00rem; }
.event > .content > .season_modifier > div > ul > li > i.--season-summer { font-size: 3.50rem; }
.event > .content > .season_modifier > div > ul > li > i.--season-fall   { font-size: 3.00rem; }
.event > .content > .season_modifier > div > ul > li > i.--season-winter { font-size: 3.25rem; }

/* Event failure cost. */

.event > .content > .failure
{
	padding-left: var(--space-tiny);
	padding-top: var(--space-tiny);
	line-height: var(--font-size-huge);
}

.event > .content > .failure > i
{
	margin-left: var(--space-small);
	margin-right: var(--space-tiny);
	font-size: var(--font-size-normal);
	line-height: var(--font-size-huge);
	vertical-align: -1.50mm;;
}
