/* Card layout */
.card
{
	display: flex;
	flex-direction: column;
	align-items: stretch;
	align-content: stretch;
	overflow: hidden;

	flex-grow: 0;
	flex-shrink: 0;

	position: relative;
	background-size: cover;

	width: 825px;
	height: 1125px;

	font-size: var(--font-size-normal);
}

/* Card headers */
.card > .header
{
	z-index: 99;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;

	flex-grow: 0;
	flex-shrink: 0;

	width: 100%;
	height: 55mm;

	padding-top: calc(4 * var(--space-normal));

	padding-left: calc(4 * var(--space-normal));
	padding-right: calc(4 * var(--space-normal));

	border-bottom: var(--border-normal) solid var(--border-dark);
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;

	background-color: rgb(240, 240, 240);
	background: linear-gradient(135deg, rgba(255, 255, 255, 1.0) 0%, rgba(255, 255, 255, 0.65) 100%);
	box-shadow: var(--shadow-under);
}

/* Card Title */
.card > .header > .title
{
	font-size: var(--font-size-huge);
	line-height: calc(1.5 * var(--font-size-huge));
	text-align: left;
	font-weight: normal;

	margin-left: var(--space-tiny);
	text-shadow: 0 0 24px rgba(255, 255, 255, 1.0);
}

/* Card Icons */
.card > .header > .icons
{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}
.card > .header > .icons > li
{
	width: 25mm;
	height: 25mm;

	margin-left: 2.5mm;
	text-align: center;

	border-radius: var(--radius-outer);
	border: var(--border-thick) solid black;
	background-color: white;
}
.card > .header > .icons > li > i
{
	line-height: 24mm;
	font-size: var(--font-size-normal);
}
.card > .header > .icons > li > i.--dice-1,
.card > .header > .icons > li > i.--dice-2,
.card > .header > .icons > li > i.--dice-3,
.card > .header > .icons > li > i.--dice-4,
.card > .header > .icons > li > i.--dice-5,
.card > .header > .icons > li > i.--dice-6
{
	line-height: 23mm;
	font-size: var(--font-size-large);
}

/* Card content */
.card > .content
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;

	width: 100%;
	height: 100%;

	padding-top: calc(2 * var(--space-normal));
	padding-bottom: calc(4 * var(--space-normal));

	padding-left: calc(4 * var(--space-normal));
	padding-right: calc(4 * var(--space-normal));
}

.card > .content > *
{
	border: var(--border-normal) solid var(--border-dark);
	border-radius: var(--radius-outer);
	background-color: var(--tint-normal);
	box-shadow: var(--shadow-inner);
	overflow: hidden;
}

.card > .content > * { margin-bottom: var(--space-normal); }
.card > .content > *:last-child { margin-bottom: var(--space-none); }
