.card.player > .header > .power
{
	font-size: var(--font-size-large);
	text-align: right;
	flex-grow: 1;
	margin-right: var(--space-tiny);
	padding-top: var(--space-normal);
}

.card.player > .content > ul.attributes
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.card.player > .content > ul.attributes:before
{
	content: 'Physique';
	display: block;
	width: 100%;

	text-align: center;
	font-size: var(--font-size-normal);
	line-height: var(--font-size-huge);

	padding-top: var(--space-tiny);
	border-bottom: var(--border-thin) solid var(--border-light);
}
.card.player > .content > ul.attributes:last-child:before
{
	content: 'Intellect';
}
.card.player > .content > ul.attributes > li
{
	flex-grow: 1;
	display: inline-block;
	text-align: center;
	font-weight: bold;
	font-size: var(--font-size-normal);
	line-height: var(--font-size-huge);
	padding-top: var(--space-tiny);

	border-left: var(--border-thin) solid var(--border-light);
}
.card.player > .content > ul.attributes > li:first-child
{
	border-left: var(--border-none);
}
.card.player > .content > ul.attributes > li > i
{
	margin-right: 0.25ex;
	vertical-align: text-top;
}
.card.player > .content > .ability { flex-grow: 1; }
.card.player > .content > .ability > p
{
	text-align: center;
	line-height: var(--font-size-large);

	margin-top: calc(1.9 * var(--space-huge));
	margin-bottom: var(--space-thick);

	padding: var(--space-huge);
	padding-bottom: 0;
}

.card.player > .content > .ability > p:after { content: "( only once per turn )"; display: inline-block; margin-top: var(--space-huge); }

/* Player backside: Lore */
.lore
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	font-size: var(--font-size-small);
	text-align: center;
	flex-grow: 1;
	margin-block-start: 0;
	margin-block-end: 0;
}
