/* Event difficulty modifier. */
.region > .content > .region_food
{
	display: flex;
	flex-grow: 0;
	flex-shrink: 0;
	flex-direction: row;
}

.region > .content > .region_food > i
{
	display: inline-block;
	flex-grow: 0;
	flex-shrink: 0;

	width: calc(2.5 * var(--font-size-huge));
	height: calc(2.5 * var(--font-size-huge));

	font-size: calc(1.5 * var(--font-size-huge));
	line-height: calc(2.5 * var(--font-size-huge));
	border-right: var(--border-thin) solid var(--border-light);
	text-align: center;
}
.region > .content > .region_food > div
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex-basis: 100%;
	align-items: stretch;
	align-content: stretch;
}
.region > .content > .region_food > div > ul
{
	display: flex;

	flex-direction: row;
	justify-content: space-evenly;
	flex-basis: 100%;

	width: var(--font-size-huge);
	height: var(--font-size-huge);
	line-height: var(--font-size-huge);
}
.region > .content > .region_food > div > ul:last-child
{
	border-top: var(--border-thin) solid var(--border-light);
}
.region > .content > .region_food > div > ul > li
{
	width: 25%;
	padding-top: var(--space-small);
	font-size: var(--font-size-normal);
	font-weight: bold;
	text-align: center;
}
.region > .content > .region_food > div > ul > li > i
{
	font-size: var(--font-size-large);
	line-height: var(--font-size-huge);
}

.region > .content > .region_food > div > ul > li > i.--season-spring { font-size: 3.00rem; }
.region > .content > .region_food > div > ul > li > i.--season-summer { font-size: 3.50rem; }
.region > .content > .region_food > div > ul > li > i.--season-fall   { font-size: 3.00rem; }
.region > .content > .region_food > div > ul > li > i.--season-winter { font-size: 3.25rem; }

