.card.season > i
{
	margin-top: 80mm;
	font-size: 80mm;
	text-align: center;
	z-index: 99;
}

.card.season:before
{
	position: absolute;
	display: inline-block;
	content: '';
	width: 100%;
	height: 100%;
}

.card.season.early.spring:before { background-image: linear-gradient(180deg, rgba(192, 192, 255, 1.0) 0%, rgba(96, 128, 160, 0.1) 100%); }
.card.season.late.spring:before  { background-image: linear-gradient(180deg, rgba(200, 240, 160, 1.0) 0%, rgba(128, 160, 96, 0.1) 100%); }

.card.season.early.summer:before { background-image: linear-gradient(180deg, rgba(200, 240, 160, 1.0) 0%, rgba(128, 160, 96, 0.1) 100%); }
.card.season.late.summer:before  { background-image: linear-gradient(180deg, rgba(250, 240, 120, 1.0) 0%, rgba(160, 160, 60, 0.1) 100%); }

.card.season.early.fall:before   { background-image: linear-gradient(180deg, rgba(250, 240, 120, 1.0) 0%, rgba(160, 160, 60, 0.1) 100%); }
.card.season.late.fall:before    { background-image: linear-gradient(180deg, rgba(255, 192, 160, 1.0) 0%, rgba(160, 128, 96, 0.1) 100%); }

.card.season.early.winter:before   { background-image: linear-gradient(180deg, rgba(255, 192, 160, 1.0) 0%, rgba(160, 128, 96, 0.1) 100%); }
.card.season.late.winter:before    { background-image: linear-gradient(180deg, rgba(192, 192, 255, 1.0) 0%, rgba(96, 128, 160, 0.1) 100%); }
