/* Player backgrounds */
.card.archer  { background-image: url('../art/ai/class2_archer.png'); }
.card.cowboy  { background-image: url('../art/ai/class2_cowboy.png'); }
.card.pirate  { background-image: url('../art/ai/class2_pirate.png'); }
.card.jester  { background-image: url('../art/ai/class2_jester.png'); }
.card.priest  { background-image: url('../art/ai/class2_priest.png'); }
.card.cook    { background-image: url('../art/ai/class2_chef.png'); }
.card.gambler { background-image: url('../art/ai/class2_gambler.png'); }
.card.king    { background-image: url('../art/ai/class2_king.png'); }
.card.queen   { background-image: url('../art/ai/class2_queen.png'); }
.card.ghost   { background-image: url('../art/ai/class2_ghost.png'); }

/* Agenda background */
.card.agenda { background-image: url('../art/ai/survival.png'); }

/* Region backgrounds */
#forest { background-image: url('../art/ai/background_forest.png'); }
#lake { background-image: url('../art/ai/background_lake.png'); }
#mountain { background-image: url('../art/ai/background_mountains.png'); }
#ocean { background-image: url('../art/ai/background_ocean.png'); }
#plains { background-image: url('../art/ai/background_plains.png'); }
#swamp { background-image: url('../art/ai/background_swamp.png'); }

/* Season backgrounds */
.spring { background-image: url('../art/ai/season_spring.png') !important; }
.summer { background-image: url('../art/ai/season_summer.png') !important; }
.fall { background-image: url('../art/ai/season_fall.png') !important; }
.winter { background-image: url('../art/ai/season_winter.png') !important; }

/* Event backgrounds */
#red_berries { background-image: url('../art/ai/red_berries.png'); }
#funky_rocks { background-image: url('../art/ai/funky_rocks.png'); }
#dark_jungle { background-image: url('../art/ai/dark_jungle.png'); }
#coconut_tree { background-image: url('../art/ai/coconut_tree.png'); }
#coconut_tree2 { background-image: url('../art/ai/coconut_tree2.png'); }
#coconut_tree3 { background-image: url('../art/ai/coconut_tree3.png'); }
#dark_cave { background-image: url('../art/ai/dark_cave.png'); }
#wild_boar { background-image: url('../art/ai/wild_boar.png'); }
#wild_boar2 { background-image: url('../art/ai/wild_boar2.png'); }
#wild_boar3 { background-image: url('../art/ai/wild_boar3.png');  background-size: 150%; background-position: 65% 0%; }
#wild_boar4 { background-image: url('../art/ai/wild_boar4.png'); background-size: 175%; background-position: 55% 20%; }
#wild_boar5 { background-image: url('../art/ai/wild_boar5.png'); }
#white_dove { background-image: url('../art/ai/white_dove.png'); }
#pirate_rum { background-image: url('../art/ai/pirate_rum.png'); background-position: 40%; }
#venom_snake { background-image: url('../art/ai/venom_snake.png'); background-position: 40%; }
#cave_painting { background-image: url('../art/ai/cave_painting.png'); background-size: 200%; background-position: 78% 0%; }
#big_tree { background-image: url('../art/ai/big_tree.png'); background-size: 175%; background-position: 75% 20%; }
#cave_bats { background-image: url('../art/ai/cave_with_bats.png'); }
#red_mushroom { background-image: url('../art/ai/red_mushroom.png'); }
#golf_course { background-image: url('../art/ai/golf_course.png'); background-size: 175%; background-position: 55% 20%; }
#american_plane { background-image: url('../art/ai/american_plane.png'); }
#falling_rocks { background-image: url('../art/ai/falling_rocks.png'); }
#sixth_sense { background-image: url('../art/ai/sixth_sense.png'); }
#hedgehog { background-image: url('../art/ai/hedgehog.png'); }
#sumo_bear { background-image: url('../art/ai/sumo_bear.png'); }
#sumo_bear2 { background-image: url('../art/ai/sumo_bear2.png'); background-position: 40%; }
#shark { background-image: url('../art/ai/shark.png'); background-size: 175%; background-position: 55% 20%; }
#polar_bear { background-image: url('../art/ai/polar_bear.png'); background-size: 275%; background-position: 25% 75%; }
#campfire { background-image: url('../art/ai/campfire.png'); }
#map { background-image: url('../art/ai/treasure_map.png'); }
#water { background-image: url('../art/ai/find_water.png'); }
#fruit_salad { background-image: url('../art/ai/fruit_salad.png'); }
#mystery_party { background-image: url('../art/ai/mystery_party.png'); background-position: 75% 75%; }
#quantum_math { background-image: url('../art/ai/quantum_math.png'); background-position: 75% 75%; }
#parrot { background-image: url('../art/ai/parrot.png'); }
#dice { background-image: url('../art/ai/set_of_dice.png'); }
#poker { background-image: url('../art/ai/poker_cards.png'); }
#bridge { background-image: url('../art/ai/rope_bridge.png'); }
#dark_cave { background-image: url('../art/ai/cave_entrance.png'); }
#gold_coin { background-image: url('../art/ai/gold_coin.png'); }
#spears1 { background-image: url('../art/ai/spears1.png'); background-position: 100%; }
#spears2 { background-image: url('../art/ai/spears2.png'); }
#trap1 { background-image: url('../art/ai/trap1.png'); background-position: 100%; }
#trap2 { background-image: url('../art/ai/trap2.png'); }
#dig1 { background-image: url('../art/ai/dig1.png'); background-position: 70%; }
#rock1 { background-image: url('../art/ai/rock1.png'); background-position: 70%; }
#thorns1 { background-image: url('../art/ai/thorns1.png'); background-position: 27%; }
#berries { background-image: url('../art/ai/berries.png'); }
#mikado { background-image: url('../art/ai/mikado.png'); background-position: 75%; }
#deadly_plant { background-image: url('../art/ai/deadly_plant.png'); background-position: 60%; }
#pirate1 { background-image: url('../art/ai/pirate1.png'); }
#storm { background-image: url('../art/ai/storm.png'); }
#rum { background-image: url('../art/ai/rum.png'); background-position: 60%; }
#sun { background-image: url('../art/ai/sun.png'); background-position: 0%; }
