@font-face {
  font-family: 'stranded-icons';
  src:
    url('fonts/stranded-icons.ttf?hhmih2') format('truetype'),
    url('fonts/stranded-icons.woff?hhmih2') format('woff'),
    url('fonts/stranded-icons.svg?hhmih2#stranded-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'stranded-icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.--email:before {
  content: "\e92a";
}
.--class-archer:before {
  content: "\e900";
}
.--class-cook:before {
  content: "\e901";
}
.--class-cowboy:before {
  content: "\e902";
}
.--class-gambler:before {
  content: "\e903";
}
.--class-ghost:before {
  content: "\e904";
}
.--class-jester:before {
  content: "\e905";
}
.--class-king:before {
  content: "\e906";
}
.--class-pirate:before {
  content: "\e907";
}
.--class-priest:before {
  content: "\e908";
}
.--class-queen:before {
  content: "\e909";
}
.--credits:before {
  content: "\e90a";
}
.--dice-1:before {
  content: "\e90b";
}
.--dice-2:before {
  content: "\e90c";
}
.--dice-3:before {
  content: "\e90d";
}
.--dice-4:before {
  content: "\e90e";
}
.--dice-5:before {
  content: "\e90f";
}
.--dice-6:before {
  content: "\e910";
}
.--dice:before {
  content: "\e911";
}
.--drama:before {
  content: "\e912";
}
.--ending-defeat:before {
  content: "\e913";
}
.--ending-objectives:before {
  content: "\e914";
}
.--ending-victory:before {
  content: "\e915";
}
.--event:before {
  content: "\e916";
}
.--player:before {
  content: "\e917";
}
.--preparations:before {
  content: "\e918";
}
.--region:before {
  content: "\e919";
}
.--resource-food:before {
  content: "\e91a";
}
.--resource-time:before {
  content: "\e91b";
}
.--scroll-unfurled:before {
  content: "\e91c";
}
.--season-fall:before {
  content: "\e91d";
}
.--season-spring:before {
  content: "\e91e";
}
.--season-summer:before {
  content: "\e91f";
}
.--season-winter:before {
  content: "\e920";
}
.--season:before {
  content: "\e921";
}
.--stat-constitution:before {
  content: "\e922";
}
.--stat-dexterity:before {
  content: "\e923";
}
.--stat-education:before {
  content: "\e924";
}
.--stat-intelligence:before {
  content: "\e925";
}
.--stat-luck:before {
  content: "\e926";
}
.--stat-perception:before {
  content: "\e927";
}
.--stat-strength:before {
  content: "\e928";
}
.--stranded:before {
  content: "\e929";
}
