body
{
	padding: 0;
	margin: 0;
	font-size: 0;
	color: transparent;
	background-color: transparent;
}
body *
{
	box-sizing: border-box;
	background-color: transparent;
}
@page
{
	margin-left: 0mm;
	margin-right: 0mm;
	margin-top: 0mm;
	margin-bottom: 0mm;
}
@media screen
{
	section
	{
		margin: 5px auto;
		border: 1px solid rgba(0, 0, 0, 0.44);
		box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.23);
	}
	body.debug div
	{
		outline: 1px solid red;
	}
	body.debug div:after
	{
		outline: 1px solid blue;
	}
}
section
{
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-content: space-evenly;

	width: 210mm;
	height: 297mm;
	padding: 1mm;

	page-break-after: always;
}
section > div,
section > div > img
{
	position: relative;
	display: inline-block;
	width: 67.7mm;
	height: 96.8mm;
	print-color-adjust: exact;
}

/* Uncomment to hide card backgrounds. */
/*
section:nth-child(odd) > div:before,
section:nth-child(odd) > div:after
{
	display: none !important;
}
*/

/* Uncomment to round card fronts. */
/*
section:nth-child(odd) > div:before,
section:nth-child(odd) > div:after,
*/
section:nth-child(even) > div:before,
section:nth-child(even) > div:after
{
	box-sizing: border-box;
	display: inline-block;
	position: absolute;
	content: '';
	margin: 0;
	width: 63.5mm;
	height: 88.9mm;
	width: 67.7mm;
	height: 96.8mm;
	top: 0;
	left: 0;
	border-radius: 5mm;
	border: 1.5mm solid white;
	border-top-width: 2.5mm;
	border-bottom-width: 2.5mm;
	outline: 0.01px solid rgba(0, 0, 0, 0.21);
	z-index: 999;
}

section:nth-child(odd) > div:after,
section:nth-child(even) > div:after
{
	border-radius: 0;
}
