#rules > .card > .content *
{
	font-family: var(--font-rules);
	line-height: 125%;
}

#rules > .card
{
	font-size: var(--font-size-small);
	background-color: rgb(255, 255, 255);
	background-image: linear-gradient(180deg, rgba(252, 252, 252, 0.9) 0%, rgba(224, 224, 224, 0.7) 100%);
}

#rules > .card > .header > .title
{
	flex-grow: 1;
	margin-left: 1ex;
}

#rules > .card > .content b
{
	display: inline-block;
	font-family: var(--font-header);
	font-size: var(--font-size-tiny);
	margin-bottom: calc(0 - var(--space-normal));
}

#rules > .card > .content ol
{
	margin-block-start: 0.33em;
	margin-block-end: 0.66em;
	margin-left: var(--space-huge);
	padding-left: var(--space-huge);
}

#rules > .card > .content > *
{
	border: none;
	margin: 0;
	padding: 0;
	box-shadow: none;
	background: none;
}

#rules em
{
	background-color: rgba(  0,   0,   0, 0.11) !important;
}

#rules a
{
	color: black;
}
