body *::hover { background-color: red; outline: 2px solid purple; }

/***********/
/* GENERIC */
/***********/
body > div:after
{
	content: '';
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
	width: 2475px;
	height: 99999px;
	background-color: transparent;
	background-image: url('../templates/poker-card-basic.png');
	background-position: top left;
	background-repeat: repeat;
	opacity: 0.22;
}


/* Document layout */
body
{
	margin: 0;
	padding: 0;
}
body, body *
{
	box-sizing: border-box;

	font-family: var(--font-default);
	text-shadow: var(--text-shadow-white);
}
body > div
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	background-color: green;

	width: 2475px;
	height: auto;
}

/* Elements */
ul
{
	list-style-type: none;
	list-style-position: outside;
	padding: 0;
	margin: 0;
}

/* Keyworded text */
em
{
	display: inline-block;

	font-size: 0.80em !important;
	line-height: 1.25em;

	white-space: nowrap;
	font-style: normal;
	text-decoration: none;
	text-transform: capitalize;

	padding-top: var(--space-tiny);
	padding-bottom: var(--space-none);
	padding-left: var(--space-small);
	padding-right: var(--space-small);

	border: var(--border-tiny) solid var(--border-light);
	border-radius: var(--radius-small);
	background-color: var(--shade-normal);
}

em > i
{
	font-size: 0.85em;
	margin-right: 0.25ex;
	vertical-align: middle;
}
/* Special alignment for icons that aren't centered in weight. */
em > i.--resource-food { vertical-align: -0.25mm; }
em > i.--resource-time { vertical-align: -0.75mm; }
em > i.--event         { vertical-align: -0.50mm; }
em > i.--drama         { vertical-align: -0.33mm; }
em > i.--region        { vertical-align: -0.25mm; }
em > i.--season        { vertical-align: -0.75mm; }
em > i.--dice          { vertical-align: -0.33mm; }
em > i.--email          { vertical-align: -0.33mm; }

em > i.--stat-strength     { vertical-align: -0.50mm; }
em > i.--stat-dexterity    { vertical-align: -0.50mm; }
em > i.--stat-constitution { vertical-align: -0.65mm; }
em > i.--stat-intelligence { vertical-align: -0.33mm; }
em > i.--stat-education    { vertical-align: -0.33mm; }
em > i.--stat-perception   { vertical-align: -0.33mm; }
em > i.--stat-luck         { vertical-align: -0.50mm; }

em > i.--class-pirate   { vertical-align: -0.33mm; }
em > i.--class-archer   { vertical-align: -0.33mm; }
em > i.--class-cowboy   { vertical-align: -0.33mm; }
em > i.--class-jester   { vertical-align: -0.50mm; }
em > i.--class-priest   { vertical-align: -0.33mm; }
em > i.--class-cook     { vertical-align: -0.50mm; }
em > i.--class-gambler  { vertical-align: -0.50mm; }
em > i.--class-king     { vertical-align: -0.33mm; }
em > i.--class-queen    { vertical-align: -0.10mm; }
em > i.--class-ghost    { vertical-align: -0.33mm; }

em > i.--ending-victory    { vertical-align: -0.33mm; }
em > i.--ending-defeat     { vertical-align: -0.25mm; }
em > i.--ending-objectives { vertical-align: -0.50mm; }

/* Icon tints */
em.food { background-color: var(--tint-food); }
em.region { background-color: var(--tint-region); }
em.event { background-color: var(--tint-event); }
em.action { background-color: var(--tint-drama); }
em.upgrade { background-color: var(--tint-light); }
em.downgrade { background-color: var(--tint-light); }
em.defeat { background-color: var(--tint-dark); }
em.time { background-color: var(--tint-time); }
em.season { background-color: var(--tint-season); }
em.player { background-color: var(--tint-player); }
em.agenda { background-color: var(--tint-agenda); }

/* Icon colors
em.food, em.food i { color: var(--color-food); text-shadow: var(--text-shadow-black); }
em.region, em.region i { color: var(--color-food); text-shadow: var(--text-shadow-black); }
em.event, em.event i { color: var(--color-event); text-shadow: var(--text-shadow-black); }
em.action, em.action i { color: var(--color-drama); text-shadow: var(--text-shadow-black ); }
em.upgrade, em.upgrade i { color: var(--color-drama); text-shadow: var(--text-shadow-black ); }
em.season, em.season i { color: var(--color-season); text-shadow: var(--text-shadow-black ); }
em.player, em.player i { color: var(--color-player); text-shadow: var(--text-shadow-black ); }
*/
