/**
 * NOTES:
 *
 * - This document describe 825 x 1125 pixel size standard poker/trading cards, as required by printing service.
 * - All colors in this document are approximations and printing service will interpret slightly differently.
 * - Conversion from website into cards is lossy, but retains quality of text, but not images
 */

/* Import necessary fonts. */
@import url('https://fonts.googleapis.com/css?family=Alegreya+SC|Architects+Daughter|Bubblegum+Sans|Chewy|Fontdiner+Swanky|Freckle+Face|Permanent+Marker|Rancho|Markazi+Text');

:root
{
	/* Set up default fonts */
	--font-default: 'Bubblegum Sans';
	--font-header:  'Roboto';
	--font-number:  'Architects+Daughter';
	--font-rules:   'Markazi Text';
	--font-flavor:  'Rancho';

	--font-size-huge:   20mm;
	--font-size-large:  16mm;
	--font-size-normal: 12mm;
	--font-size-small:  10mm;
	--font-size-tiny:    9mm;

	--text-shadow-white: 0 0 1px white, 0 0 2px white, 0 0 3px white, 0 0 5px white;
	--text-shadow-black: 0 0 1px black, 0 0 2px black, 0 0 3px white, 0 0 5px white;

	/* Set up default line widths and line colors */
	--border-none: 0;
	--border-tiny: 1px;
	--border-thin: 2px;
	--border-normal: 3px;
	--border-thick: 5px;

	--border-light: rgba(0, 0, 0, 0.20);
	--border-dark:  rgba(0, 0, 0, 0.55);

	--shade-normal: rgba(0, 0, 0, 0.21);

	--color-agenda: rgb(240, 220, 40);
	--color-player: rgb(120, 250, 210);
	--color-drama:  rgb(96, 160, 255);
	--color-event:  rgb(160, 96, 255);
	--color-food:   rgb(160, 250, 80);
	--color-season: rgb(250, 100, 30);

	--tint-agenda: rgb(250, 250, 50, 0.65);
	--tint-player: rgb(100, 250, 250, 0.65);
	--tint-drama:  rgb(96, 160, 255, 0.65);
	--tint-event:  rgb(160, 96, 255, 0.65);
	--tint-food:   rgb(192, 255, 32, 0.65);
	--tint-region: rgb(96, 204, 32, 0.65);
	--tint-season: rgb(255, 95, 15, 0.65);
	--tint-time:   rgb(255, 165, 45, 0.65);

	--tint-strong: rgba(242, 242, 242, 0.75);
	--tint-normal: rgba(242, 242, 242, 0.60);
	--tint-weak:   rgba(242, 242, 242, 0.40);

	--tint-red:    rgba(250, 100,  50, 0.50);
	--tint-orange: rgba(250, 200,   0, 0.50);
	--tint-green:  rgba(150, 250,  50, 0.50);
	--tint-blue:   rgba( 50, 200, 250, 0.50);
	--tint-purple: rgba(200, 100, 250, 0.50);
	--tint-dark:   rgba(  0,   0,   0, 0.27);
	--tint-light:  rgba(256, 256, 256, 0.75);

	/* Define how to round borders. */
	/* Outer is default, inner is for elements inside rounded elements.*/
	--radius-none:  1mm;
	--radius-small: 2mm;
	--radius-inner: 3mm;
	--radius-outer: 4mm;

	--shadow-inner: inset 3px 3px 12px rgba(0, 0, 0, 0.35);
	--shadow-outer: none;
	--shadow-under:
		0 var(--border-normal) var(--border-normal) rgba(0, 0, 0, 0.35),
		0 var(--border-thick) var(--border-thick) rgba(0, 0, 0, 0.21);


	/* At 16px base size, this ends up at exactly even pixels. */
	--space-tiny:  	2mm;
	--space-small:  4mm;
	--space-normal: 5mm;
	--space-thick:  8mm;
	--space-huge:   10mm;


	/* Define how many letters to show per line of text. */
	--text-width: 50ex;

	/* Define how wide the labels next to form inputs should be. */
	--label-width: 12ex;
	--output-width: 12ex;
}

